@import "./assets/css/reset.css";

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  max-width: 600px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}
.buttonFrame {
  display: flex;
  justify-content: space-between;
  width: 325px;
  /* background-color: cadetblue; */
}
.winner {
  height: 20px;
  padding-top: 10px;
  /* width: 100%; */
  font-size: 16px;
  color: rgb(84, 84, 84);
  /* background-color: red; */
}
.gameFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  background-color: rgb(20, 189, 172);
}
.grid {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 198px;
  max-height: 200px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 3px solid rgb(13, 161, 146);
  cursor: pointer;
}
.box:nth-child(1) {
  border-radius: 15px 0 0 0;
}
.box:nth-child(3) {
  border-radius: 0 15px 0 0;
}
.box:nth-child(7) {
  border-radius: 0 0 0 15px;
}
.box:nth-child(9) {
  border-radius: 0 0 15px 0;
}
.tictactoe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(84, 84, 84);
  /* cursor: pointer; */
}

button {
  height: 40px;
  font-size: 14x;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-color: white;
  color: rgb(20, 189, 172);
  /* border: 1px solid lightgrey; */
  border-top: none;
  border-left: 1px solid lightgrey;
  border-bottom: 2px solid rgb(20, 189, 172);
  border-right: 1px solid lightgrey;
}
.restart {
  width: 100%;
  border: 1px solid lightgrey;
}

.choosePlayer {
  min-width: 160px;
  border-radius: 10px;
}
